<div class="container_home">
    <div class="container_page">
        <div class="creator_page">
            <div class="bg_creator">
            </div>
            <div class="limit_creator_profile">
                <div class="creator_profile">
                    <div class="creator_content">
                        <img src="<%=creators[0].img%>" alt="">
                        <div class="creator_detail">
                            <span class="creators_name">
                                <%=creators[0].pname%>
                            </span>
                            <span class="creators_desc">Creating website octagram</span>
                            <p>5.2M Members 41 Posts</p>
                        </div>
                    </div>
                    <div class="membership">
                        <a href="/<%=creators[0].pname%>/membership" class="btn_sub">Membership</a>
                    </div>
                </div>
            </div>
            <div class="limit_navbar">
                <div class="navbar">
                    <a href="#">Home</a>
                    <a href="#">About</a>
                    <a href="#">Review</a>
                </div>
            </div>

            <% if (!checks) { %>

                <div class="not_membership">
                    <div class="tier-list">
                        <% for(var i=0; i < packages.length; i++) { %>
                        <form class="tier" method="POST" action="/checkout/<%=creators[0].pname%>/<%=packages[i].id%>">
                            <h2><%=packages[i].title%></h2>
                            <span><%=packages[i].price%> Baht / Month</span>
                            <ul>
                                <li><%=packages[i].desc%></li>
                            </ul>
                            <input type="hidden" name="id_creator" value="<%=creators[0].id%>">
                            <input type="hidden" name="id_package" value="<%=packages[i].id%>">
                            <button>Join</button>
                        </form>
                        <% } %>
                    </div>
                </div>

                <% } else { %>

                    <div class="limit_post">
                        <div class="creator_post">

                            <% if (posts.length> 0) { %>

                                <% for(var i=0; i < posts.length; i++) { %>
                                    <div class="post_box">
                                        <div class="profile_post">
                                            <img src="<%=creators[0].img%>" alt="profile" class="profile_img_post">
                                            <div class="creator_post_name">
                                                <span class="creator_name">
                                                    <%=creators[0].pname%>
                                                </span>
                                                <span class="post_time">1 hr.</span>
                                            </div>
                                        </div>
                                        <div class="post_content_limit">
                                            <div class="post_content">
                                                <span class="post_title">
                                                    <%=posts[i].title%>
                                                </span>
                                                <span class="post_desc">
                                                    <%=posts[i].desc%>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>

                                        <%} else { %>

                                            <div class="post_alert">
                                                <h1>There is no post in this creator.</h1>
                                            </div>

                                            <% } %>

                        </div>
                    </div>

                    <% } %>

        </div>
    </div>
</div>