<nav>
  <div class="logo">
    <a href="/home">
      <img src="/img/icon.png" alt="Logo">
    </a>
  </div>
  <div class="container_navbar">
    <ul>
      <li>
        <a href="/<%= loggedIn.pname %>/home">
          <i class="fas fa-house"></i>
          <span class="nav-item">My page</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-users"></i>
          <span class="nav-item">Membership</span>
        </a>
      </li>
      <li>
        <a href="/<%= loggedIn.pname %>/package">
          <i class="fas fa-cubes"></i>
          <span class="nav-item">Plans</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-envelope"></i>
          <span class="nav-item">Message</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-gear"></i>
          <span class="nav-item">Setting</span>
        </a>
      </li>
    </ul>

    <div class="post_navbar">
      <a href="/post/create" class="btn_post_navbar"><i class="fa-solid fa-pen-to-square fa-lg fav"></i>Create</a>
    </div>

    <div class="profile">
      <div class="profile_link">
        <img src="<%= loggedIn.img_creator %>" alt="Profile">
        <div class="profile_name">
          <% if (loggedIn) { %>
            <h1>
              <%= loggedIn.pname %>
            </h1>
            <h2>
              <%= loggedIn.role %>
            </h2>
            <% } %>
        </div>
      </div>

      <div class="left_ellipsis">
        <a onclick="ShowEllipsis()" class="ellipsis"><i class="fas fa-ellipsis-vertical"></i></a>
        <div class="popup" id="popup">
          <ul class="ellipsis_popups">
            <li><a href="#">Creator resources</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="/logout" class="btn_logout">Log out</a></li>
          </ul>
        </div>
      </div>

    </div>
</nav>